<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="isLoginForm" class="login-form-container container col-sm-8 col-md-6">
  <form method="post" (submit)="login($event)" #loginForm>
    <div class="form-group">
      <label for="username">Email:</label>
      <input id="username" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input id="password" type="password" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Login</button>
  </form>
  <span (click)="isRegisterForm=true;isLoginForm=false">Register here</span>
</div>
<div *ngIf="isRegisterForm" class="register-form-container container col-md-6 col-sm-8">
  <form method="post" (submit)="register($event)" #registrationForm>
    <div class="form-group">
      <label for="first_name">Name:</label>
      <input id="first_name" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="last_name">Last Name:</label>
      <input id="last_name" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input id="email" type="email" class="form-control">
    </div>
    <div class="form-group">
      <label for="user_pwd">Password:</label>
      <input id="user_pwd" type="password" class="form-control">
    </div>
    <div class="form-group">
      <label for="conf_pwd">Confirm Password:</label>
      <input id="conf_pwd" type="password" class="form-control">
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" id="role_student" name="role" value="student" checked>
      <label for="role_student" class="form-check-label">Student</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" id="role_teacher" name="role" value="teacher">
      <label for="role_teacher" class="form-check-label">Teacher</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" id="role_tutor" name="role" value="tutor">
      <label for="role_tutor" class="form-check-label">Tutor</label>
    </div>
    <button type="submit" class="btn btn-success">Register</button>
  </form>
</div>
<!--<app-topbar></app-topbar>-->
<!--<app-board></app-board>-->
<!--<router-outlet></router-outlet>-->
